# OSX
#
.DS_Store
__tests__
.bundle
android/*
!android/app
android/app/*
!android/app/src
android/app/src/*
!android/app/src/main
android/app/src/main/*
!android/app/src/main/java
android/app/src/main/java/*
!android/app/src/main/java/com
android/app/src/main/java/com/beitiltsportsbar/MainApplication.java
ios
vendor
.eslintrc.js
.node-version
.prettierrc.js
.watchmanconfig
app.json
babel.config.js
Gemfile
Gemfile.lock
index.js
metro.config.js
package-lock.json
package.json
tsconfig.json
node_modules
_bundle/config
_node-version
App.tsx